node_modules/
cypress/videos
cypress/screenshots
docs/.vuepress/dist
docs/**/*.js
# a couple of JSON files created during spec runs
cypress/fixtures/profile.json
cypress/fixtures/users.json
# generated documentation site
public
.publish
# redirects to versioned pages
redirects
people.json
person.json
