.example
  padding .1rem 1.5rem 0.5rem
  margin: 1rem 0
  background-color #f7f7f8
  border-bottom-left-radius: inherit
  border-bottom-right-radius: inherit

  .badge
    // make the badges align with text
    line-height: inherit
